h1:hover{
    color: brown;
}
p:first-child{ 
    color: rgb(200, 9, 9);
   }

p::before{
    content:"-fin del parrafo-";
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
ul li:first-child{
    font-size: 1,5;
    color: blueviolet;
    font-weight: bold;
}
