*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    display: flex;
    height: 20vh;
}
header .logo img{
    max-width: 10%;
}
header .logo{
    padding: 10px;
    width: 20%;
    background-image:url(./1ace3d4cd11d4e313a63b9e2aa83661f.jpg);
    background-position: center;
    background-size: 100% 100%;
}
header nav{
    width: 80%;
    display: flex;
    justify-content: right;
    align-content: center;
    align-items: center;
    background-color: rgb(108 161 73);
}
header nav ul li{
    list-style-type: none;
    display: inline-block;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 100px;
}
header nav ul li a:hover{
    color: white;
    border-bottom: 2px solid rgb(58 91 38);
    font-size: 22px;
}

.title{
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    background: white;
    border: solid 1px black;
   
    
}

h1{
    display: flex;
    flex-wrap: nowrap;
}

main{
    display: flex;
    background-color: #afbc46;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main .card{
    width: 23%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid 1px black;
    height: 400px;

   

}
main .card .image img{
    max-width: 100%;
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
main .card  .precio{
    margin: 30px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-left: 2px solid blue;
    text-align: left;
}
main .card .titulo{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
main .card .cart{
    display: none;
}
main .card  .precio:hover{
    color: rgb(61, 5, 244);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px; 
    border: 2px solid rgb(1, 52, 11);
}
main .card  .precio:hover .cart{
    display: inline-block;
}
main .card .content-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: black;
    color: white;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;}
    
    .flotante {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.flotante button{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 100%;
    border: none;
}
.flotante button i{
    color: white;
    font-size: 30px;
}
.flotante button:hover{
    background-color: white;
}
.flotante button:hover i{
    color: green;}