
body{
    margin: 100px;
    padding-left: 300px;
    background: white;
}
.contenedor{
    background: rgba(184, 130, 235, 0.556);
    width: 75%;
    display: grid;
    border: solid 3px black;
    border-radius: 5px;
    grid-template-areas: "a a a"
                        "two three four"
                        "two five none"
;
}
.contenedor div{
    background-color: blueviolet;
    font-size: 20px;
    border: solid 2px black;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
   
    }

.item1 .text{
    border: solid 2px black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: left;
   background-color: rgba(199, 125, 210, 0.508);

}

.item1{ grid-area: a;

}
.item2{ grid-area: two;
    height: 300px;
   
}
.item3{ grid-area: three;
   
}
.item4{ grid-area: four;
   
}
.item5{ grid-area: five;
    }
